
.home {
    background-color: darkgrey;
    height: 80vh;
    width: 100vw;
    margin: 0;
    padding: 20px;
}

.home-button {
    width: 50vw;
    margin: 4vh 25vw 0 25vw;
    padding: 20px 10px 20px 10px;
    font-size: 3vh;
    border-radius: 5px;
}